pandas
numpy
scipy
matplotlib
seaborn
scikit-learn
imbalanced-learn
lightgbm
ipykernel
shap
langgraph
langchain
langchain-openai
h5py
slack-sdk
torch
joblib
python-dotenv
neo4j
requests
confluent-kafka
fastapi
uvicorn[standard]
websockets
